<div class="Header">
  <div class="Header-item">
    <%= link_to 'HOME', '/', class: 'Header-link' %>
  </div>

  <div class="Header-item">
    <%= link_to 'Blog', '/blog', class: 'Header-link' %>
  </div>

  <div class="Header-item">
    <%= link_to 'Contact me', '/contact-me', class: 'Header-link' %>
  </div>
</div>
