@import '@primer/css';
@import 'homepage.scss';
@import 'contact-me.scss';
@import 'blog.scss';

html, body#layout {
  height:100%;
}

body#blog {
  height:auto;
  footer { height:10rem; }
}

.my-auto {margin-bottom:auto; margin-top:auto;}
.flex-grow-1 {flex-grow:1;}
.width-fit {width:fit-content;}