@import '@primer/css';
@import 'homepage.scss';
@import 'contact-me.scss';

html, body {
  height:100%;
}

.my-auto {margin-bottom:auto; margin-top:auto;}
.flex-grow-1 {flex-grow:1;}
.width-fit {width:fit-content;}