@import 'purecss';
@import 'purecss/buttons.scss';
@import 'homepage.scss';
@import 'contact-me.scss';

html, body {
  height:100%;
  font-family: 'Work Sans', sans-serif; 
  line-height:1.5rem;
  color:dimgray;
  text-align:justify;
}