<div class="well competency-summary">
  <h4>Overall progress across all competencies</h4>
  <div class="summary">
    <section>
      <div class="type statistic fb-smaller">
        <p class="text-uppercase">current rotation</p>
      </div>

      <div class="statistic">
        <p class="value">10/15</p>
        <p class="description">PBAs in rotation</p>
      </div>

      <div class="statistic">
        <p class="value">1/5</p>
        <p class="description">EPAs in rotation</p>
      </div>

      <div class="statistic fb-smaller">
        <p class="value">5</p>
        <p class="description">Assessments in review</p>
      </div>
    </section>
    <div class="border"></div>
    <section>
      <div class="type statistic">
        <p class="text-uppercase">across rotations</p>
      </div>

      <div class="statistic">
        <p class="value">33</p>
        <p class="description">Total attempts</p>
      </div>

      <div class="statistic">
        <p class="value">15/70</p>
        <p class="description">Independent (PBAs)</p>
      </div>

      <div class="statistic">
        <p class="value">1/50</p>
        <p class="description">Entrustable (EPAs)</p>
      </div>
    </section>
  </div>
</div>
