<div class="well">
  <h3>Overall progress across all competencies</h3>
  <div>
    <div>
      <p class="text-uppercase">current rotation</p>
    </div>

    <div>
      <p>5/15</p>
      <p>PBAs in current rotation</p>
    </div>

    <div>
      <p>1/15</p>
      <p>EPAs in current rotation</p>
    </div>

    <div>
      <p>5</p>
      <p>Assessments currently in review</p>
    </div>
  </div>
  <div>
    <div>
      <p class="text-uppercase">across rotations</p>
    </div>

    <div>
      <p>33</p>
      <p>Total attempts</p>
    </div>

    <div>
      <p>00/70</p>
      <p>Independent (PBAs)</p>
    </div>

    <div>
      <p>00/50</p>
      <p>Entrustable (EPAs)</p>
    </div>
  </div>
</div>
