<tr>
  <td>Appendicectomy - Laparoscopic or Open</td>
  <td>PBA (4 - 5)</td>
  <td>20</td>
  <td>
    <div class="progress progress-competency">
      <div class="progress-bar success">
        <span class="sr-only">20% complete</span>
      </div>
      <div class="progress-bar success">
        <span class="sr-only">20% complete</span>
      </div>
      <div class="progress-bar success">
        <span class="sr-only">20% incomplete</span>
      </div>
      <div class="progress-bar">
        <span class="sr-only">20% incomplete</span>
      </div>
      <div class="progress-bar">
        <span class="sr-only">20% incomplete</span>
      </div>
    </div>
  </td>
  <td>Attempt #21 <br>started on 5 July 2019</td>
  <td><%= link_to 'Start new', '#', class: 'btn btn-primary' %></td>
</tr>
