---
title: Competency Name
---

<h1>Competency: Competency name</h1>

<%= partial 'competency/summary' %>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#"><h4>Assessment</h4></a></li>
  <li role="presentation"><a href="#"><h4>History</h4></a></li>
  <li role="presentation"><a href="#"><h4>Instructions & detail</h4></a></li>
</ul>