---
title: Welcome
---

<h1>Alexandre Barret</h1>
<p class="lead">Web Developer, Dancer, and Wannabe Surfer living in Wellington, New Zealand</p>

<div class="text-center mx-auto mt-4">
  <% link_to '/contact-me', class: 'btn btn-primary d-flex flex-items-center flex-justify-center' do %>
    <%= image_tag 'icons/email.svg', class: 'icon mr-2' %> Get in touch
  <% end %>
</div>

<div class="bio text-justify mt-4">
  <p>Hey, I’m Alexandre. I’m a web developer living in Wellington, New Zealand. I am a fan of Product Development and User Research. I’m also interested in Drumming, Lindy Hop and huge advocate of Simplicity. You can contact me with a click on the button above.</p>
</div>

<div class="social-media d-flex flex-wrap flex-justify-center">
  <% data.social_media_icons.each do |social_media| %>
    <% link_to social_media.url, target: '_blank' do %>
      <%= image_tag social_media.icon, class: 'm-2' %>
    <% end %>
  <% end %>
</div>
