---
title: Welcome :)
---
<section id="hero" class="main-section">
  <%= image_tag 'iguazu.jpg' %>
</section>

<section id="description" class="main-section">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
  <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
  <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
  <p>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
  <p>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
  <p>proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>