---
title: Thank you
---
<section id="hero" class="main-section" data-turbolinks-permanent>
  <%= image_tag 'iguazu.jpg' %>
</section>

<section id="description" class="main-section">
  <div class="content headings">
    <h1>Thank you</h1>  
    <h2>I'll be in touch soon :)</h2>
  </div>

  <div class="content call-to-action">
    <%= link_to 'Back to Homepage', '/', class: 'pure-button button-large button-primary' %>
  </div>
</section>